*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 67, 37);
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(44, 62, 80);
    font-family: 'JetBrains Mono', monospace;
}

.logo{
    color:white;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 24px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color:white;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 16px;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color:white;
    transition: all 0.3s ease;
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
}

@media screen and (max-width:1024px){
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 40%;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    /* test */
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0; 
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}